@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

.container {
    display:flex;
    background: white;
    flex-direction: column;

}

.header {
    width: 1120px;
    height: 60px;
    margin:auto;
    display:flex;
    justify-content:space-around;
    align-items: center; 
    background-color: white;
}

.logo {
    width: 49px;
    height: 35px;
    flex-grow: 1; 
}

.nav-links{
    display:flex;
    padding:5px;
    flex-grow: 4;
}

.nav-link-bold {
    margin:10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight:800;
    line-height:25.6px;
    color:#212353
}

.nav-link {
        margin:10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size:16px;
        font-weight:500;
        line-height:25.6px;
        color:#4B5D68
}

.nav-link-bold a:link {
    color:inherit;
    text-decoration: none;
}

.nav-link a:link {
    color:inherit;
    text-decoration: none;
}

.request-button {
    margin-left:auto;
    flex-grow: 1;
    padding:10px;
    max-width:210px;
    max-height:60px;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border:white;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.arrow {
    color:#9C69E2;
    width: 20px;
    height: 14px;
}
.box1 {
    display: flex;
    flex-direction: row;
    width:1120px;
    height:696px;
    background-color: white;
    margin: auto;
}
.content1 {
    width:1120px;
    height:696px;
    background-color: white;
    margin:auto;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.heading1 {
    min-width: 645px;
    min-height: 184px; 
    background-color: white;
    z-index:1;

}

.heading1 h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
    color: #212353;
}

.para1 {
    width: 380px;
    height: 120px;
    margin-top:50px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}

.learn-button {
    width: 170px;
    height: 60px;
    padding:15px;
    margin-top:50px;
    background: #9C69E2;
    border-color:#9C69E2;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.art1 {
    background:url(images/image1\ 1.png);
    background-size:cover;
    width: 885px;
    height: 468px;
    margin-left:-713px;
    align-self: flex-end;
    z-index:2;
}
/*Container 2*/
.box2 {

    width: 1117px;
    height: 560px;
    margin:auto;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.pic2 {
    width: 477px;
    height: 504px;
}


.content2 {
    width: 475px;
    height: 310px;
}

.content2 h2 {
    width: 475px;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #212353;
}

.content2 p{
    width: 474px;
    height: 170px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
    text-align: justify;
}

/*Container3*/

.box3 {
    min-width: 584px;
    min-height: 160px;
    background-color: white;
    margin:auto;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}

.box3 h3 {
    
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color: #212353;
}

.box3 p {
    width: 584px;
    height: 58px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #4B5D68;
}

/*Container4*/
.box4 {
    background-color: white;
    margin: auto;
    width:1120px;
    height:760px;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}

.sub-box {
    width:50%;
    background-color: white;
    display:flex;
    flex-direction: row;
    align-items: center;
    

}

.box-4-pic-1 {
    width: 232px;
    height: 211px;
}

.box4-content {
    display:flex;
    flex-direction:column;
}

.box4-content h4 {
    width: 200px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #212353;
}

.box4-content p {
    width: 220px;
    height: 160px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
}

.button-learn-more {
    width: 135px;
    height: 26px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    color: #212353;
    background: none;
    border:none;
    cursor: pointer;
    align-self: flex-start;

}

/*container 5*/

.box5 {
    width: 1118px;
    height: 709px;
    margin:auto;
    background: #9C69E2;
    border-radius: 50px;
    display:flex;
    flex-direction:column;
}

.box5 h5 {
    width: 405px;
    height: 52px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-left:93px;
}

.testimonials {
    width: 949px;
    height: 330px;
    background: #FFFFFF;
    box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
    border-radius: 20px;
    margin-left:93px;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}

.portrait {
    width: 132.42px;
    height: 90px;
    margin-left:122.99px;
    margin-top:60px;
}

.testimonials-text h6 {
    width: 250.12px;
    height: 29px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 160%;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    color: #212353;
}

.testimonials-text span {
    width: 148.6px;
    height: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #9C69E2;
}

.testimonials-text p {
    width: 566.46px;
    height: 130px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 180%;
    color: #4B5D68;
}

.symbols {
    margin:auto;
    width: 920px;
    display:flex;
    flex: row;
    justify-content: flex-start;
}

.slider {
    width: 55px;
    height: 10px;
}

.arrows {
    margin-left:auto;
    color:white;
}

/*container6*/

.box6 {
    width:1120px;
    height:200px;
    margin:auto;
    background: white;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.box6-text h7{
    width: 405px;
    height: 52px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #212353;
}

.box6-text p{
    width: 584px;
    height: 29px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}

.btns {
    width: 410px;
    height: 60px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.learn-more-last {
    width: 170px;
    height: 60px;
    background: #F063B8;
    border-radius: 50px;
    border:0px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

/*footer*/

footer {
    width: 1117px;
    height: 408px;
    margin:auto;
    background-color:white;
    display: flex;
    flex-direction: column;
}

.contact-details {
    background:white;
    width: 1117px;
    height:208px;
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
}

.column {
    background:white;
    width:335px;
    height:300px;
}

.top1 {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}
.logo-footer {
    width: 49px;
    height: 35px;
}

.title1 {
    width: 153px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 160%;
    color: #212353;
    margin-left:10px;
}

.column-text1 p {
    width: 335px;
    height: 65px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;

}

.column-text2 {
    width:166px;
    height:220px;
    display:flex;
    flex-direction:column;
    align-content: space-between;
}

.column-text2 a:link {
    color:inherit;
    text-decoration: none;
}
.top2 {
    width: 51.75px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 160%;
    color: #212353;
}

.footer-link {
    width: 166px;
    height: 160px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 250%;
    color: #212353;
}

.column-text3 a:link {
    color:inherit;
    text-decoration: none;
}

.footer-link3 {
    width: 166px;
    height: 190px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 250%;
    color: #212353;
}
.copyright {
    background:white;
    width: 1117px;
    height:100px;
    margin-top:20px;
}

.column-text3 {
    width:166px;
    height:220px;
    display:flex;
    flex-direction:column;
    align-content: space-between;
}

.column-text4 {
    width: 200px;
    height: 110px;
    display:flex;
    flex-direction: column;
}

.top3 {
    width: 113px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 160%;
    color: #212353;
}

.media {
    width: 178px;
    height: 50px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.media-icon {
    width: 50px;
    height: 50px;
    border-radius:20px;
    background: #212353;
    color:white;
    opacity: 0.1;
    transition: color 0.2 s;
    text-decoration: none;
    cursor:pointer;
    
}

.copyright {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.copyright-text p {
    width: 360px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 180%;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #212353;
}

.text-btn {
    background:none;
    align-self:flex-end;
    cursor: pointer;
    border:none;
}

